    <!-- Members Section -->
    <section id="members" class="content-section text-center">
          <div class="container">
              <div class="col-lg-8 col-lg-offset-2">
                  <h2>Members</h2>
              </div>
          </div>
    </section>

<!--
TODO
[ ] who goes into members page
[ ] make table
[ ] headshots
[ ] bios
[ ] links
-->
