<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    
    <video id="header-video" src="/videos/source-2017.mp4" autoplay loop> </video>

    <section id="content" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {{ content }}
            </div>
        </div>
    </section>

    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
